# OS Stuff
.DS_Store
.eslintcache
.docker/
.directory
Thumbs.db

# MSVS Stuff
*.vcxproj.user
*.tlog
*.vs/
/.vs/
/.idea/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Built Files
*.a
*.d
*.o
*.lo
*.obj
*.pdb
*.res
*.stamp
*.exe
